<br>
<h2>Update Contract Info</h2>

<div class="row">
  <div class="span6 offset3">
      <%= render "/shared/error_seigosei_messages", error_messages: flash[:error] %>
    <%= form_for(@contract) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :itakumoto %>
<%= render 'shared/label/gyoshu', gyoshu_division: 'HAISHUTSU' %>
      <%= f.text_field :itakumoto %>

      <%= f.label :itakusaki %>
<%= render 'shared/label/gyoshu', gyoshu_division: 'SHORI' %>
      <%= f.text_field :itakusaki %>

      <%= f.label :itakustart %>
      <%= f.text_field :itakustart %>

      <%= f.label :itakuend %>
      <%= f.text_field :itakuend %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>


      <li><%= link_to "Cancel Back", current_contract %></li>
      <li><%= link_to "ContractsList", root_path %></li>

<%= link_to 'Cancel Back', current_contract, class: 'btn btn-left' %>
<%= link_to 'ContractsList', root_path, class: 'btn btn-left btn-inverse' %>

    <% end %>

  </div>
</div>
