<h1>Contracts You have to do with</h1>
<p>Find me in app/views/contracts/index.html.erb</p>

<%= form_tag root_path, :method => 'get' do %>
  <p>
    itakumoto_search
    <%= text_field_tag :search, params[:search] %>
    itakusaki_search
    <%= text_field_tag :searchsaki, params[:searchsaki] %>
    <%= submit_tag "Search", :itakumoto => nil ,:itakusaki => nil  %>
  </p>
<% end %>


<%= will_paginate %>

<ul>
  <table>
   <tr>
    <td width=250>
      itakumoto
    </td>
    <td width=250>
      itakusaki
    </td>
   </tr>
  </table>
</ul>

<ul class="contracts">
  <%#= render @contracts %>
<% @contracts.each do |contract| %>

  <%#= gravatar_for contract, size: 52 %>
  <%#= link_to contract.itakumoto, contract %>

 
  <table border = "0">

   <tr>
    <td width=250>
     <%= contract.itakumoto %>
    </td>
    <td width=250>
     <%= contract.itakusaki %>
    </td>
    <td width=40>
     <%= link_to "Refer", contract %>
    </td>
    <td width=40>
     <%= link_to "Delete", contract, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </td>
   </tr>
  </table>

<% end %>

</ul>

<%= will_paginate %>

<h2>
<li><%= link_to "NewContract", concreate_path %></li>
</h2>
