<h1>Create New Contract</h1>
<p>Find me in app/views/contracts/new.html.erb</p>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@contract) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <!--<%= f.label :itakumoto %>-->
      <label class="control-label width-auto">itakumoto <span class="required"><font color = 'red'>*neccesary</font></span></label>
      <%= f.text_field :itakumoto %>
      <label class="control-label width-auto">   <span class="required">test comment  when saisei baikyakusaki</span></label>

      <!--<%= f.label :itakusaki %>-->
      <label class="control-label width-auto">itakusaki<span class="required"><font color = 'red'>*neccesary</font></span></label>
      <%= f.text_field :itakusaki %>

      <%= f.label :itakustart %>
      <%= f.text_field :itakustart %>

      <%= f.label :itakuend %>
      <%= f.text_field :itakuend %>


      <%= f.submit "Create Contract", class: "btn btn-large btn-primary" %>

      <%= f.submit "BackToList", {:type => "button", :onClick => "this.form.action=root_path; this.form.submit();"} %>

    <% end %>
  </div>
</div>


<li><%= link_to "Back to ContractsList", root_path %></li>

<%= link_to 'ContractsList', root_path, class: 'btn btn-left btn-inverse' %>