<br>
<h2>Contract Details</h2>
<p>Find me in app/views/contracts/show.html.erb</p>

<%
=begin
%>
<%= @contract.itakumoto %>, <%= @contract.itakusaki %>
<%
=end
%>


<div class="row">
      <%= render "/shared/error_seigosei_messages", error_messages: flash[:error] %>

  <aside class="span8">
    <section>

      <table>
       <tr>
        <td width = '75'>
        itakumoto
        <td></td>
       </tr>
       <tr>
        <td width = '80'>
        <%= render 'shared/label/gyoshu', gyoshu_division: 'HAISHUTSU' %></td>
        <td><%= @contract.itakumoto %></td>
       </tr>
       <tr>
        <td width = '75'>
        itakusaki
        <td></td>
       </tr>
       <tr>
        <td width = '80'>
        <%= render 'shared/label/gyoshu', gyoshu_division: 'SHORI' %></td>
        <td><%= @contract.itakusaki %></td>
       </tr>
      </table>
      <br>
      <table>
       <tr>
        <td>
        itakustart:</td><td width = '100'><%= @contract.itakustart %></td>

        <td>
        itakuend:</td><td width = '100'><%= @contract.itakuend %></td>

       </tr>
      </table>

    </section>
  </aside>


</div>

<br><br>

  contract_haikibutsu

    <%= render @contract.items %>

<br><br>
  Add a haikibutsu:
  <%= render "items/form" %>


<div class="link">
<h4>
<li><%= link_to "ChangeThis", edit_contract_path(current_contract) %></li>
<li><%= link_to "ContractsList", root_path %></li>
<br><br>
<%= link_to 'ChangeThis', edit_contract_path, class: 'btn btn-left' %>
<%= link_to 'BackToList', root_path, class: 'btn btn-left btn-inverse' %>
</h4>
</div>

     <%= link_to "delete", current_contract, method: :delete,
                                  data: { confirm: "You sure?" } %>