  <%= form_for([@contract, @contract.items.build]) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>


      <table>
       <tr>
        <td width = '150'>haikibutsu</td>

        <td width = '75'>suryo</td>

        <td width = '120'>tanka</td>
       </tr>

       <tr>
        <td width = '150'><%= f.text_field :item %></td>

        <td width = '75'><%= f.text_field :suryo %></td>

        <td width = '120'><%= f.text_field :tanka %></td>
       </tr>

      </table>

    <p>
      <%= f.submit %>
    </p>

  <% end %>